.daiary {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    font-size: 14px;
}

.daiary__item {
    display: flex;
    flex-direction: column;
}

.daiary__item__header {
    font-size: 1.3em;
    font-weight: bolder;
    /*margin-bottom: 10px;*/
}

.daiary__item__date {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
}

.daiary__item__info {
    text-align: justify;
}

.daiary__item__diagnosis {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
}

.daiary__item__doctor {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: end;
}

/*.daiary__item__span {*/
/*    height: 4vh;*/
/*    opacity: 0;*/
/*}*/


section {
    break-before: page;
    break-inside: avoid;
}

@media print {
    .daiary__item {
        height: 33.5vh;
        display: flex;
        flex-direction: column;
    }
    .daiary__item__header {
        margin-bottom: 1em;
    }

    section {
        break-before: page;
        break-inside: avoid;
        break-after: avoid-region;
    }
}


