.form {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.field__desises {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.error {
    color: red;
}

@media print {
    .header, .form {
        display: none;
    }
}
