.operation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    break-inside: avoid;
}

.operation div {
    line-height: 1em;
    font-size: 14px;
}

.operation__opisanie {
    text-align: justify;
}
.operation__secondCopy {
    margin-top: 1.5em;
}

.operation__diagnosis b {
    font-style: italic;
    text-align: justify;
}

